<form
  {{action "createReview" name email review_text on="submit"}}
  class="review"
  id="review-form"
>
  <label>
    {{i18n "review.create_review.text_name_label"}}
    {{input required="required" class="form-control" type="text" value=name}}
  </label>

  <label>
    {{i18n "review.create_review.text_email_label"}}
    {{input required=true type="text" value=email}}
  </label>

  <label>
    {{i18n "review.create_review.text_review_label"}}
    {{textarea value=review_text}}
  </label>

  {{#if sent}}
    <p class="thanks">Thanks for the review!</p>
  {{else}}
    <button type="submit" class="btn btn-primary">
      {{i18n "review.create_review.submit_label"}}
    </button>
  {{/if}}
</form>